p.hello {
	color: red 
}
p.goodbye {
	color:green
}
p.afternoon {
	color:aqua
}
body {
	background: black
}

.goodbye {
	font-family: cursive;
	text-indent: 50px

}
.afternoon {
	text-align: center;
	font-size: 32px
	
}

	
